/* EVERYTHING inside CONTAINER */
.keypad-container * {
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.keypad-container {
    border-radius: 30px;
    background-color: #777;
    box-shadow: 2px 2px 6px 4px black;
    margin: 0 auto;
    display: grid;
    width: 300px;
    height: 400px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-areas:
    "display display display"
    "label label label"
    "controls controls operators"
    "keypad keypad operators"
    "keypad keypad operators"
    "keypad keypad operators"
    "keypad keypad operators"
    "footer footer footer";
}

/* DISPLAY */
.keypad-display {
    background-color: #333;
    color: white;
    box-shadow: inset -0.1em -0.1em #666;
    border-radius: 5px;
    text-align: right;
    padding-right: 10%;
    padding-top: 10px;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-area: display;
}

/* BLANK */
.keypad-label {
    color: white;
    text-transform: capitalize;
    grid-area: label;
}

/* CONTROLS */
.keypad-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: controls;
}

.keypad-controls input {
    background-color: hotpink;
    color: white;
    font-size: 20px;
    height: 50px;
}

/* NUMBERS */
.keypad-numbers {
    /* border: 1px solid red; */
    grid-area: keypad;
    display: grid;
    grid-template-areas:
    "seven eight nine"
    "four five six"
    "one two three"
    "zeronum zeronum decimalpoint"
}

.keypad-numbers input {
    background-color: midnightblue;
    color: white;
    font-size: 25px;
    height: 50px;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zeronum;
}

#decimalpoint {
    grid-area: decimalpoint;
}


/* OPERATORS */
.keypad-operators {
    display: grid;
    grid-area: operators;
}

.keypad-operators input {
    background-color: teal;
    color: white;
    font-size: 25px;
    height: 50px;
}

/* FOOTER */
.keypad-footer {
    /* border: 1px solid red; */
    height: 25px;
    grid-area: footer;
}