/* EVERYTHING inside CONTAINER */
.keypad-container * {
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.keypad-container {
    border-radius: 30px;
    background-color: #777;
    box-shadow: 2px 2px 6px 4px black;
    margin: 0 auto;
    display: grid;
    width: 280px;
    height: 400px;
    padding: 15px;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-areas:
    "display display display"
    "label label label"
    "form form form"
    "footer footer footer";
}

/* DISPLAY */
.keypad-display {
    word-break: break-all;
    /* overflow: auto; */
    background-color: #333;
    color: white;
    box-shadow: inset -0.1em -0.1em #666;
    border-radius: 5px;
    text-align: right;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-area: display;
}

/* BLANK */
.keypad-label {
    color: white;
    text-transform: capitalize;
    grid-area: label;
}

/* FORM CONTAINER */
.form-container {
    grid-area: form;
    display: grid;
    grid-template-areas:
    "controls controls operators"
    "keypad keypad operators"
    "keypad keypad operators"
    "keypad keypad operators"
    "keypad keypad operators";
}

/* CONTROLS */
form .keypad-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-area: controls;
}

form .keypad-controls button {
    background-color: hotpink;
    color: white;
    font-size: 20px;
    height: 50px;
}

/* NUMBERS */
form .keypad-numbers {
    /* border: 1px solid red; */
    grid-area: keypad;
    display: grid;
    grid-template-areas:
    "seven eight nine"
    "four five six"
    "one two three"
    "zeronum zeronum decimalpoint"
}

form .keypad-numbers button {
    background-color: midnightblue;
    color: white;
    font-size: 25px;
    height: 50px;
}

#n1 {
    grid-area: one;
}

#n2 {
    grid-area: two;
}

#n3 {
    grid-area: three;
}

#n4 {
    grid-area: four;
}

#n5 {
    grid-area: five;
}

#n6 {
    grid-area: six;
}

#n7 {
    grid-area: seven;
}

#n8 {
    grid-area: eight;
}

#n9 {
    grid-area: nine;
}

#n0 {
    grid-area: zeronum;
}

#decimalpoint {
    grid-area: decimalpoint;
}


/* OPERATORS */
form .keypad-operators {
    display: grid;
    grid-area: operators;
}

form .keypad-operators button {
    background-color: teal;
    color: white;
    font-size: 25px;
    height: 50px;
}

/* FOOTER */
.keypad-footer {
    /* border: 1px solid red; */
    height: 25px;
    grid-area: footer;
}