.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Calculator {
    
    width: 360px;
    padding: 15px;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) , transparent);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    backdrop-filter: blur(2px);
  }
  .Calculator input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    text-align: right;
    font-size: 44px;
    padding-right: 30px;
  }
  
  .Calculator input[type="button"] {
    height: 85px;
    width: calc(100% / 4 );
    background-color: transparent;
    border: none;
    border-radius: 12px;
    outline: none;
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .Calculator input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .Calculator input[type="button"]:active {
      background-color: #3d949f;
  }

  .Calculator .focus:focus{
    background-color: #3d949f;
  }