.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background-color: #7851A9;
  color: #CFB53B;
  flex: 1;
  outline: 1px solid #888888;
}

.operator {
  background-color: #CFB53B;
  color: #7851A9;

}

.alternate {
  background-color: #CC0000 ;
  color: #CFB53B;
}

.zero {
  width: 50%;
}