.App{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
}


.calculator-body {
  /* justify-content: center;
  align-items: center; */
  max-width: 400px;
  margin: auto;
  height: 600px;
}

.button {
  display: block;
  /* justify-content: center;
  align-items: center; */
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

.operator {
  background-color: #fe9241;
  color: white;
}
