.calculator {
    display: grid;
    margin-top: 45px;
    text-align: center;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    font-size: 20px;
    background-color: #aaaaaa;
    height: 150%;
    border-radius: 5px;
    box-shadow: 6px 6px 11px;
}

button {
    cursor: pointer;
    height: 80%;
    font-size: 100%;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
    box-shadow: 1px 2px 0px 0px;
    background-color: #FFF4F2;
}

button:focus {
    outline: none;
}

.zero {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.equal {
    grid-column: 4 / 6;
}

.operator {
    margin-left: 5px;
}

.orange {
    background-color: #F0B380;
}

.red {
    background-color: #f08080;
}

.delete {
    grid-column: 2 / 4;
}