.calculator {
    display: grid;
    margin-top: 45px;
    text-align: center;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    font-size: 20px;
    background-color: lightgrey;
    height: 150%;
}

button {
    cursor: pointer;
    height: 80%;
    font-size: 80%;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 3px;
    box-shadow: 1px 2px 0px 0px;
}

button:focus {
    outline: none;
}

.zero {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.equal {
    grid-column: 4 / 6;
}

.operator {
    margin-left: 5px;
}