
.grid-container {
    display: grid;
    height: 500px;
    width: 250px;
    grid-template-areas: ". . . . . . . . . . . ." ". . . . . . . . . . . ." ". . . . input input input input . . . ." ". . . . buttons buttons buttons buttons . . . ." ". . . . buttons buttons buttons buttons . . . ." ". . . . buttons buttons buttons buttons . . . ." ". . . . buttons buttons buttons buttons . . . ." ". . . . buttons buttons buttons buttons . . . ." ". . . . enter enter enter enter . . . .";
  }
  
  .input { 
        display: grid;
      grid-area: input;
      width:250px
      
    }
  
  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-area: buttons;
  }
  .enter { 
      display: grid;
      grid-area: enter; }

.pink{
          color: black;
          background-color: pink;
      }

.grey{
        color: black;
        background-color: gray;
    }
.purple{
        color: black;
        background-color: plum;
    }
.numbers {
    font-size: larger;
    background-color: rgb(154, 154, 219);
}
