.numero {
  grid-area: nm;
}
.operator {
  grid-area: op;
}
.equal {
  grid-area: eq;
}
.decmile {
  grid-area: dm;
}
.posNeg {
  grid-area: ne;
}
.display {
  grid-area: dp;
}




.app {
  display: grid;
  width: fit-content;
  grid-template-columns: 12fr;
  grid-template-rows: 11fr;
  grid-template-areas:
      ". . . . . . . . . . . ."
      ". . dp dp dp dp dp dp dp dp dp ."
      ". . . . . . . . . . . ."
      ". . nm . nm . nm . op . op ."
      ". . . . . . . . . . . ."
      ". . nm . nm . nm . op . op ."
      ". . . . . . . . . . . ."
      ". . nm . nm . nm . op . op ."
      ". . . . . . . . . . op ."
      ". . nm . nm . nm . op . op ."
      ". . . . . . . . . . ."
}