.characters {
  grid-area: ch;
}
.operations {
  grid-area: op;
}
.checkout {
  grid-area: co;
}


.app {
  display: grid;
  grid-template-columns: .5fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr .25fr 1fr .5fr;
  grid-template-rows: .4fr 1fr .4fr .6fr .2fr .6fr .2fr .6fr .2fr .6fr .4fr;
  grid-template-areas:
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". . . . . . . . . . ."
      ". ch . ch . ch . op . op ."
      ". . . . . . . . . . ."
      ". ch . ch . ch . op . op ."
      ". . . . . . . . . . ."
      ". ch . ch . ch . op . op ."
      ". . . . . . . . . op ."
      ". ch . ch . ch . op . op ."
      ". . . . . . . . . . ."
}