.calculator {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   margin-top: 5%;
}

.displayVal {
   background-color: black;
   color: white;
   height: 25%;
}

p {
   margin: 0;
   padding: 3%;
   height: 25%;
   text-align: right;
}

.numbers {
   background-color: grey;
   height: 50%
}

.operator {
   background-color: orange;
   color: white;
}

 .row {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
 }

 button {
   flex: 1;
   align-items: center;
   font-size: 10px;
   background-color: gainsboro;
   color: rgb(61, 61, 61);
   outline: 1px solid #888;
 }