.App {
  text-align: center;
  
}

.result {
  height: 90px;
  background-color:grey;
 max-width: 400px;
 margin:auto;
 width: 80%;
 
}

.result p {
  font-size: 40px;
text-align: center;
} 

.calc {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  
}

.button button {
  width: 20%;
  height: 50px;
}