.App {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

.result .inputscreen {
  height: 60px;
  background-color: lavender;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.buttons {
  display: block;
  
}

.buttons button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: pink;
  border-radius: 100px;
}

.buttons .Mint {
  background-color: mintcream;
}