.display {
    background-color: black;
    color: pink;
    display: flex;
    height: 30px;
    padding: 5px 20px;
    font-size: 20px;
    text-align: right;
    justify-content: right;
    outline: 1px solid purple;
}
.displaySmall {
    color: purple;
    height: 0px;
    display: flex;
    text-align:center;
    justify-content: left;
    padding-left: 2px;
}