button {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 4em;
    width: 4em;
    background-color: whitesmoke;
    color: black;
}

.row {
    display: flex;
    width: 100%;
}