button {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 4em;
    width: 4em;
    background-color: whitesmoke;
    color: black;
}

.row {
    display: flex;
    width: 100%;
}

.DisplayCalc {
    display: flex;
    background-color: black;
    /* text-emphasis-color: white; */
    color: white;
    height: 50px;
    font-size: medium;
    justify-content: flex-end ;
   
}
