button {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 4em;
    width: 4em;
    background-color: whitesmoke;
    color: black;
}

.row {
    display: flex;
    width: 100%;
}

.DisplayCalc {
    display: flex;
    background-color: black;
    /* text-emphasis-color: white; */
    color: white;
    height: 50px;
    font-size: medium;
    justify-content: flex-end ;
   
}

.opp {
    color: white;
    background-color: orange;
    /* font-size: 16; */
}

.oppZero {
    width: 50%;
}

.oppPeriod {
    width: 25%;
}

.oppEqual {
    color: white;
    background-color: orange;
    width: 25%;
    
}

.opp2Equal {
    color: white;
    background-color: orange;
}