.calculatorContainer {
  display: grid;
  width: 400px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "display display display display" ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
  background: rgb(26, 26, 26);
}

.calculatorDisplay {
  grid-area: display;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
}

#id0 {
  border-radius: 50px;
  color: white;
  background: black;
  grid-column-start: 1;
  grid-column-end: 3;
  background: gray;
}

.number {
  border-radius: 50%;
  color: white;
  border: 1px solid gray;
  background: gray;
  font-size: 35px;
}

.character {
  border-radius: 50%;
  color: white;
  border: 1px solid orange;
  background: orange;
  font-size: 35px;
}

button {
  margin: 5px;
}
