.calculatorContainer {
  display: grid;
  width: 200px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "display display display display" ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
}

.calculatorDisplay {
  grid-area: display;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
}

#id0 {
  border-radius: 50px;
  color: white;
  background: black;
  grid-column-start: 1;
  grid-column-end: 3;
}

.number {
  border-radius: 50px;
  color: white;
  background: black;
}

.character {
  border-radius: 50px;
  color: white;
  background: orange;
}
