.input {
  height: 4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-color: black;
  color: white;
  outline: 1px solid grey;
}
