.input {
  height: 3.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 35px;
  background-color: black;
  color: white;
  outline: 1px solid black;
}
