@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');

.button {
    padding: 10px 30px;
    font-size: 24px;
    line-height: 1 em;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: red;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 2px 2px #999;
    font-family: 'Baloo Da 2', cursive;
    transition: background-color 0.5s ease-in;
}

.button:hover {
    color: white;
    background-color: rgb(17, 57, 159);
}

.button:active {
    color: white;
    background-color: rgb(17, 57, 159);
    box-shadow: 0 1px 1px #666;
    transform: translateY(2px);
}