.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: red;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0 2px 2px #999;
}

.button:hover {
    background: rgb(228,200,27);
    background: linear-gradient(90deg, rgba(228,200,27,1) 2%, rgba(227,176,27,1) 14%, rgba(224,151,27,1) 30%, rgba(226,129,27,1) 52%, rgba(228,82,27,1) 74%, rgba(228,32,27,1) 95%);
}

.button:active {
    background: rgb(228,200,27);
    background: linear-gradient(90deg, rgba(228,200,27,1) 2%, rgba(227,176,27,1) 14%, rgba(224,151,27,1) 30%, rgba(226,129,27,1) 52%, rgba(228,82,27,1) 74%, rgba(228,32,27,1) 95%);
    box-shadow: 0 1px 1px #666;
    transform: translateY(1px);
}