.calculatorContainer {
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('./Mad\ Max\ Coma-Doof\ Warrior\ III.jpg');
    background-repeat: repeat;
    background-clip: padding-box
}

.calculator{
    display: grid;
    margin-right: 10%;
    margin-bottom: 15%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "result result result result"
    "computation computation computation computation"
    "obliterate obliterate sign divide" 
    "seven eight nine multiply"
    "four five six subtract"
    "one two three plus"
    "zero zero decimal equal";
}

.result {
    grid-area: result;
    background-color: yellow;
}

.computation {
    grid-area: computation;
    background-color: grey;
}

.obliterate {
    grid-area: obliterate
}

.sign {
    grid-area: sign;
}

.plus {
    grid-area: plus
}

.subtract {
    grid-area: subtract
}

.multiply { 
    grid-area: multiply
}

.divide {
    grid-area: divide
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight
}

.seven {
    grid-area: seven
}

.six {
    grid-area: six
}

.five {
    grid-area: five
}

.four {
    grid-area: four
}

.three {
    grid-area: three
}

.two {
    grid-area: two
}

.one {
    grid-area: one
}


.zero {
    grid-area: zero
}

.decimal {
    grid-area: decimal
}

.equal {
    grid-area: equal
}