@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');

.calculatorContainer {
    height: 100vh;
    width: 100wh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('./Mad\ Max\ Coma-Doof\ Warrior\ III.jpg');
    background-repeat: repeat;
    background-clip: padding-box
}

.calculator{
    display: grid;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "result result result result"
    "computation computation computation computation"
    "obliterate obliterate sign divide" 
    "seven eight nine multiply"
    "four five six subtract"
    "one two three plus"
    "zero zero decimal equal";
    background-color: white;
    border: solid 5px white;
    border-radius: 5px;
    box-shadow: 0 2px 2px #999;
    font-family: 'Baloo Da 2', cursive;
}


.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
    transition: background-color 0.5s ease-in;
}

.display:hover{
    color:red;
}

.result {
    grid-area: result;
    background-color: rgba(255,255,0,0.65);
    color:black;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

.computation {
    grid-area: computation;
    color: white;
    font-size: 24px;
    background-color: rgba(255, 165, 0,0.75);
    border-radius: 0px 0px 5px 5px;
}

.obliterate {
    grid-area: obliterate
}

.sign {
    grid-area: sign;
}

.plus {
    grid-area: plus
}

.subtract {
    grid-area: subtract
}

.multiply { 
    grid-area: multiply
}

.divide {
    grid-area: divide
}

.nine {
    grid-area: nine;
}

.eight {
    grid-area: eight
}

.seven {
    grid-area: seven
}

.six {
    grid-area: six
}

.five {
    grid-area: five
}

.four {
    grid-area: four
}

.three {
    grid-area: three
}

.two {
    grid-area: two
}

.one {
    grid-area: one
}


.zero {
    grid-area: zero;
    background-color: rgba(228,82,27,1);
}

.decimal {
    grid-area: decimal
}

.equal {
    grid-area: equal
}