.clear-btn {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    background-color: lightgrey;
    color: black;
    flex: 1;
    border: solid white;
    border-width: 1px;
}