.clear-btn {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    background-color: lightgrey;
    color: black;
    flex: 1;
    border: solid black;
    border-width: .5px;
}