.App {
  display: grid;
  /* text-align: center; */
  justify-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator-container {
  background-color: black;
  /* background-image: url(./kisspng-apple-iphone-7-plus-apple-iphone-xs-max-apple-ipho-5cbb79ba5cc119.0216732315557902663799.png); */

  color: white;
  display: grid;
  width: 200px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "display display display display" ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
}
.iphone {
  background-image: url(./kisspng-apple-iphone-7-plus-apple-iphone-xs-max-apple-ipho-5cbb79ba5cc119.0216732315557902663799.png);
}
.calculator-display {
  grid-area: display;
  display: grid;
  justify-items: right;
}
#id0 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.number {
  background-color: #7b808a;
  border-radius: 50px;
  color: white;
  font-weight: bolder;
}
.sign {
  background-color: #fbc765;
  border-radius: 50px;
  color: white;

  font-weight: bolder;
}
