body {
  background-color: lavender;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
  justify-items: right;
}
.result p {
  font-size: 40px;
  margin: 5px;

}
#title {
  position: absolute;
  justify-content: space-around;
  font-family: cursive;
  left: 30%;
  font-size: 30px;
}
.App {
  position: absolute;
  top: 20%;
  left: 30%;
  max-width: 400px;
  margin: auto;
  
}
.buttonContainer {
  display: block;
  background-color: #bbb;
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}