/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background-color: orange;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}
.result p {
  font-size: 40px;
  margin: 5px;

}
.App {
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  
}
.buttonContainer {
  display: block;
  background-color: #bbb;
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}