.App {
  text-align: center;
}
.CalcBody {
  border: 1px solid black;
  width: 400px;
  margin: auto;
  background: blue;
  margin-top: 50px;
}

.CalcBody .CalcButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.CalcButtons button {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  line-height: 2;
  font-size: 16px;
}

.ZeroKey {
  grid-column: 1/3;
}

p {
  border: 1px solid black;
  background: whitesmoke;
  width: 90%;
  margin: 10px auto 10px auto;
  font-size: 25px;
}
.CalcDisplay {
  height: 50px;
  background-color: yellow;
}
.Display {
  height: 20px;
  padding-top: 5px;
}