#plus{  
    background-color: #FD9E09;
}
#minus{
    background-color: #FD9E09;
}
#times{
    background-color: #FD9E09;
}
#plus{
    background-color: #FD9E09;
}
#equal{
    background-color: #FD9E09;
}
#divide{
    background-color: #FD9E09;
}