.App {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Calculator {
  height: 80vh;
  width: 40%;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Results {
  height: 19vh;
  font-size: 5rem;
  font-weight: 600;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.Operators{
  height: 6vh;
  font-size: 2rem;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.Screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;

}
.Keypad {
  height: 55vh;
  width: 100%;
}
.Buttons {
  height: 11vh; 
  width: 100%;
  display: flex; 
  color: black;
}