
  .App {
    display: grid;
    margin-top: 45px;
    text-align: center;
    background-color: black;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
   
  }
.Calculator {
  height: 80%;
  width: 40%;
  background-color:black;
  color: whitesmoke;
  display: grid;
  align-items: center;
}


button {
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  color: white;
  justify-content: center;
  background-color: rgb(80, 78, 78);

  
}
.operators{
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  color: white;
  background-color: rgb(247, 141, 3);
}
.others{
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  color: white;
  justify-content: center;
  background-color: rgb(170, 166, 166);
}
.equal{
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  color: white;
  background-color: rgb(247, 141, 3);
}