
  .App {
    display: grid;
    margin-top: 45px;
    text-align: center;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   
  }
.Calculator {
  height: 80%;
  width: 40%;
  background-color:black;
  color: whitesmoke;
  display: grid;
  align-items: center;
}


button {
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  color: white;
  justify-content: center;
  background-color: rgb(80, 78, 78);

  
}
.operators{
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  color: white;
  background-color: rgb(247, 141, 3);
}
.others{
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  width: 30%;
  display: grid;
  color: white;
  justify-content: center;
  
  background-color: rgb(170, 166, 166);
}