#calculater {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Outter-Container {
  background-color: #303030;
  width: 300px;
  height: 500px;
  border-radius: 15% 15% 40% 40%;
  position: absolute;
}

.Inner-Container {
  background-color: red;
  width: 275px;
  height: 450px;
  border-radius: 15% 15% 40% 40%;
  border: black solid 3px;
  position: absolute;
  z-index: 1;
}

#screen {
  position: relative;
  z-index: 2;
  border-radius: 20px;
  background-color: lightgrey;
  border: black solid 2px;
  margin: 10px 0 0 0;
}

#history {
  border: black solid 2px;

  /* padding: 0 5px 0 0; */
  text-align: right;
  height: 15px;
  width: 215px;
  margin: 8px 0;
  /* border-right: black solid 1px;
  border-left: black solid 1px;
  border-top: black solid 1px; */
  /* border-radius: 15% 15% 0 0; */
  /* background-color: lightgrey; */
}

#display {
  text-align: right;
  font-size: 24px;
  /* background-color: lightgrey; */
  height: 30px;
  width: 225px;
  margin: 0 0 8px 0;
  /* border-right: black solid 1px;
  border-left: black solid 1px; */
  position: relative;
  z-index: 2;
}

#digits {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 8px;
  column-gap: 8px;
  position: relative;
  z-index: 2;
}

button {
  font-size: 18px;
  font-weight: bolder;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: black outset 3px;
}


.allClear,
.delete,
.sign,
.plus {
  grid-row: 1/2;
}

.one,
.two,
.three,
.minus {
  grid-row: 2/3;
}

.four,
.five,
.six,
.multiply {
  grid-row: 3/4;
}
.seven,
.eight,
.nine,
.divide {
  grid-row: 4/5;
}

.zero,
.decimal,
.equal {
  grid-row: 5/6;
}

.allClear,
.one,
.four,
.seven,
.zero {
  grid-column: 1/2;
}

.delete,
.two,
.five,
.eight,
.decimal {
  grid-column: 2/3;
}

.sign,
.three,
.six,
.nine {
  grid-column: 3/4;
}

.equal {
  grid-column: 3/5;
  width: 110px;
}

.minus,
.plus,
.divide,
.multiply {
  grid-column: 4/5;
}
