#calculator {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  
}

#display {
  font-size: 24px;
  text-align: right;
  grid-column: 5/9;
  grid-row: 5/6;
  background-color: lightgrey;
  height: 10vh;
  padding: 3%;
  margin: 0;
  border-right: black solid 1px;
  border-left: black solid 1px;
}

#history {
  text-align: right;
  grid-column: 5/9;
  grid-row: 4/5;
  background-color: lightgrey;
  height: 10vh;
  padding: 3%;
  margin: 0;
  border-right: black solid 1px;
  border-left: black solid 1px;
  border-top: black solid 1px;
}

.allClear,
.one,
.four,
.seven,
.zero {
  grid-column: 5/6;
}

.allClear {
  grid-row: 6/7;
}

.one {
  grid-row: 7/8;
}

.four {
  grid-row: 8/9;
}

.seven {
  grid-row: 9/10;
}

.zero {
  grid-row: 10/11;
}

.delete,
.two,
.five,
.eight,
.decimal {
  grid-column: 6/7;
}

.delete {
  grid-row: 6/7;
}

.two {
  grid-row: 7/8;
}

.five {
  grid-row: 8/9;
}

.eight {
  grid-row: 9/10;
}

.decimal {
  grid-row: 10/11;
}

.sign,
.three,
.six,
.nine {
  grid-column: 7/8;
}

.sign {
  grid-row: 6/7;
}

.three {
  grid-row: 7/8;
}

.six {
  grid-row: 8/9;
}

.nine {
  grid-row: 9/10;
}

.equal {
  grid-column: 7/9;
  grid-row: 10/11;
}

.minus,
.plus,
.divide,
.multiply {
  grid-column: 8/9;
}

.minus {
  grid-row: 7/8;
}

.plus {
  grid-row: 6/7;
}

.divide {
  grid-row: 9/10;
}
.multiply {
  grid-row: 8/9;
}
