.result{
  height:80px;
  background-color :#bbb;
  width:100%
} 

 .result p{
  font-size:50px;
  margin: 10px;
}

.button {
  display:block;
  background-color: #bbb;
  
}
button{
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: lightblue;

  
}

html
body {
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.box {
	display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
  text-align: center;
}

.box .inner:first-child {
	background-color: lightblue;
	color: blue;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: blue;
	color: lightblue;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

