.App {
  background-color: darkslategray;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: grid;
  place-items: center;
}

.div1 {
  grid-area: 2 / 2 / 5 / 4;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
}

.pursuit-instrument {
  max-width: 250px;
  margin: auto;
  border: 3px solid royalblue;
  margin: center;
  box-shadow: maroon 0px 30px 60px -12px, black 0px 18px 36px -18px inset;
}

.button {
  display: block;
  background-color: white;
}

button {
  width: 25%;
  height: 60px;
  font-size: 15px;
  color: maroon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.answer {
  height: 60px;
  background-color: goldenrod;
  width: 100%;
}

.answer p {
  font-size: 20px;
  margin: 5px;
}
