.App {
  background-color: darkslategray;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: salmon;
}

.pursuit-instrument {
  max-width: 250px;
  margin: auto;
  border: 3px solid royalblue;
  margin: center;
  box-shadow: maroon 0px 30px 60px -12px, black 0px 18px 36px -18px inset;
}

.button {
  display: block;
  background-color: white;
}

button {
  width: 25%;
  height: 60px;
  font-size: 15px;
  color: maroon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.answer {
  height: 60px;
  background-color: goldenrod;
  width: 100%;
}

.answer p {
  font-size: 20px;
  margin: 5px;
}
